<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Silver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAB559921BAD268200DAA79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAB559A81BAD268300DAA79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAB559B31BAD268300DAA79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
